@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

body {

    min-height: 100vh;
    background-color: white;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 7vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    padding-bottom: 50px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3vw;
}

section.imagem > p {
    background-color: rgba(68, 68, 68, 0.575);
    display:inline-block;
    padding: 10px;
}
.imagem{
    background-color: rgba(61, 60, 60, 0.699);
}

footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
}
